* {
  transition: 0.3s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #f8d89d;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--3-color);
  border-radius: 50px;
}

*:focus {
  outline: none;
  border: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--3-color);
}

:root {
  --1-color: #d25244;
  --2-color: #f8b945;
  --3-color: rgb(149, 78, 53);
  --4-color: #fabc61;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  background-color: var(--4-color);
  width: 100%;
  height: 100vh;
}

header .container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bunslogo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.logo {
  width: 350px;
  transition: 0.5s;
  animation-name: logo;
  animation-duration: 3.5s;
  animation-direction: alternate;
}

@keyframes logo {
  0% {
    transition: rotate(0);
  }
  60% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(-10deg);
    margin: 206.5px;
  }
  95% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes loading {
  0% {
    transition: rotate(0);
  }
  60% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  95% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.contact {
  display: none;
  justify-content: center;
  margin: auto;
}

.contact a {
  text-decoration: none;
  color: #d4b483;
  margin: 20px;
  font-size: 30px;
  transition: 0.3s;
}

.contact a:hover {
  color: #d25244;
}

.home {
  padding: 10px;
  display: none;
  height: auto;
  justify-content: center;
  gap: 25px;
}

.-order- {
  margin: auto;
  display: flex;
}

.home p {
  max-width: 450px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 900;
  align-self: flex-start;
  color: var(--3-color);
}

.home p span {
  color: var(--1-color);
}

.ordernow {
  z-index: 1;
  font-size: 30px;
  font-weight: 900;
  width: 200px;
  height: 70px;
}

.btn {
  cursor: pointer;
  align-self: center;
  background-color: var(--1-color);
  color: #f5deb3;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  border-bottom: 4px var(--3-color) solid;
  border-right: 4px var(--3-color) solid;
  border-left: 4px var(--3-color) solid;
}

.active {
  border-bottom: 4px var(--3-color) solid;
  border-right: 4px var(--3-color) solid;
  border-left: 4px var(--3-color) solid;
}

.home2 {
  width: 100%;
  margin: 10px auto;
  transition: 0.5s;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menubtns {
  display: flex;
  max-width: 100%;
  margin: 10px auto;
  align-items: center;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
}

.menubtns::-webkit-scrollbar {
  display: none;
}

.menu {
  display: flex;
  text-align: center;
  margin: 10px;
  font-size: 18px;
  padding: 10px 10px;
  font-weight: 700;
  transition: 0.3s;
}

.contMenu {
  display: flex;
  flex-wrap: wrap;
  background-color: #fcb141;
  max-width: 770px;
  max-height: 615px;
  overflow: auto;
  border-radius: 20px;
  padding: 15px;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;
  scroll-behavior: smooth;
  text-align: center;
}

.contMenu::-webkit-scrollbar-track {
  background: #f8d89d00;
}
.contMenu::-webkit-scrollbar {
  width: 10px;
}
.contMenu::-webkit-scrollbar-thumb {
  background-color: var(--3-color);
  border-radius: 50px;
}

.contMenu.Offers {
  max-width: 770px;
  flex-wrap: nowrap;
}

.nav-offers {
  background-color: #f8d89d00;
  border: none;
  border-radius: 20px;
  color: var(--3-color);
  font-size: 30px;
  cursor: pointer;
}

.btnadd.addmeal {
  margin-top: 20px;
  display: flex;
  width: 160px;
}

.btnadd.addmeal s {
  color: #f5deb3;
}

.card {
  display: flex;
  width: 170px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  transition: 0.2s;
  justify-content: center;
}

.card img {
  width: 130px;
  height: auto;
  text-align: center;
  margin: auto;
}

.card p {
  color: var(--3-color);
  font-size: 15px;
  font-weight: 800;
  margin: 10px auto;
}

.btnadd i {
  font-size: 25px;
  color: #f5deb3;
}

.btnadd p {
  color: #f5deb3;
  font-weight: 700;
}

.btnadd {
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  width: 90%;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #954f35;
  border: none;
  border-radius: 20px;
  margin: 5px auto;
}

.checkoutcont {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  overflow-x: auto;
  justify-content: center;
  max-width: 770px;
  max-height: 600px;
  background-color: #f5deb3;
  margin: 10px auto;
  font-size: 15px;
  font-weight: 700;
  border-radius: 20px;
  color: var(--3-color);
}

.checkoutcont::-webkit-scrollbar {
  width: 10px;
}
.checkoutcont::-webkit-scrollbar-thumb {
  background-color: var(--3-color);
  border-radius: 50px;
}

.orderItem img {
  width: 80px;
  height: auto;
  border-radius: 10px;
}

img.offerOrder--img {
  width: 150px;
}

.orderItem {
  background-color: #fabc61;
  border-radius: 20px;
  align-items: center;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  margin: 10px auto;
  width: 100%;
  height: 100px;
}

.distotal {
  margin: 20px auto;
  font-size: 18px;
  font-weight: 800;
  color: #d25244;
}

.checkoutbtn {
  margin: auto;
  padding: 15px;
  font-size: 20px;
  font-weight: 800;
}

.removebtn i {
  padding: 0%;
  margin: auto;
}

.cartbtn {
  position: relative;
  border-radius: 50%;
  color: #f5deb3;
  height: 50px;
  min-width: 50px;
  font-size: 30px;
  margin: 10px;
}

.cartbtn p {
  text-align: center;
  position: absolute;
  font-weight: 700;
  left: 40px;
  bottom: 30px;
  background-color: #954e35;
  border-radius: 50%;
  min-width: 15px;
  font-size: 15px;
}

.fincont,
.creditform {
  border-radius: 20px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f8d89d;
  flex-wrap: wrap;
  width: 100%;
}

label {
  gap: 5px 15px;
  margin: 10px auto;
  display: flex;
  max-width: 700px;
  color: var(--3-color);
  font-weight: 800;
  cursor: pointer;
}

[for='name'],
[for='full-address'],
[for='phone-number'],
[for='name-on-card'],
[for='expiry-date'],
[for='cvv'],
[for='card-number'] {
  flex-direction: column;
  width: 100%;
}

#name,
#full-address,
#phone-number,
#name-on-card,
#expiry-date,
#cvv,
#card-number {
  color: var(--3-color);
  font-weight: 700;
  margin: 5px 0;
  width: 100%;
  background-color: var(--4-color);
  padding: 10px;
  border-radius: 10px;
  border: var(--3-color) 4px solid;
  height: 40px;
}

[for='cash'] i,
[for='credit'] i {
  font-size: 18px;
  color: var(--3-color);
}

[for='cash'],
[for='credit'] {
  margin: 10px auto;
  justify-content: flex-start;
  width: 90%;
}

input[type='button'] {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--3-color);
  border-radius: 50%;
  border: none;
  font-size: 18px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #f5deb3;
  font-weight: 900;
  cursor: pointer;
}

input[type='checkbox'] {
  margin: 0 5px 0 2px;
  cursor: pointer;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--3-color);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='month']:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
.submit {
  font-weight: 800;
  font-size: 20px;
  margin: 10px auto;
  padding: 10px;
}

.done {
  padding: 0 10px;
  gap: 20px 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.done p {
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: #d25244;
}

.done i {
  margin: auto;
  font-size: 50px;
  color: var(--1-color);
}

.head-end {
  display: none;
  width: 100%;
}

.slide {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: auto;
  max-height: 320px;
}

.slide img {
  border-radius: 20px;
  width: 100%;
}

.loading-screen {
  border-radius: 20px;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5deb3;
}

.loading-screen img {
  width: 30%;
  transition: 0.5s;
  animation: loading 3.5s infinite;
}

@media (max-width: 625px) {
  .home3 i {
    font-size: 25px;
  }
  .menu {
    font-size: 15px;
  }
  .container p {
    width: 100%;
  }
  .home {
    padding: 0;
    flex-direction: column;
    gap: 20px 0;
  }
  .home p {
    text-align: center;
    font-size: 40px;
    padding: 0%;
  }
  .logo {
    width: 250px;
  }

  .done p {
    font-size: 30px;
  }

  .contMenu.Offers {
    border: none;
    padding: 10px 5px;
  }

  .nav-offers {
    font-size: 25px;
  }

  .contMenu {
    justify-content: space-evenly;
    border: #f8d89d 8px solid;
  }

  .card {
    width: 150px;
    height: 250px;
  }

  .card img {
    width: 100px;
  }
}
